alias stargate='ssh stargate.housing.berkeley.edu -D 50000'
alias hal='ssh hal.rescomp.berkeley.edu'
alias cardiff='ssh cardiff.rescomp.berkeley.edu'
alias agent='[ -e /home/victorchen/.ssh/agent ] && rm /home/victorchen/.ssh/agent;eval `ssh-agent -a /home/victorchen/.ssh/agent`;ssh-add'
alias tmuxa='tmux attach-session -t '
alias ll='ls -l'
alias lal='ls -al'
alias la='ls -a'
alias yolo='git add . && git commit -m '
alias vim='mvim -v'
alias vi='mvim -v'
alias vimupdate='vim -c VundleUpdate -c quitall'
alias jup='ssh -L 16106:localhost:16106 cs186-aeb@hive12.cs.berkeley.edu'
alias hist='history | grep'
alias vii='vim ~/.vimrc'
alias gremote='git fetch origin && git reset --hard origin/master'
alias pyy='cd ~/Documents/cs9h'
alias aai='ssh cs9h-aai@cory.cs.berkeley.edu'
alias ai='cd ~/Documents/cs188/cs188/reinforcement'
alias vims='vim -S'
